body, html {
  height: 100%;
  margin: 0;
}

/*.title-bar {
    padding: 10px 0 10px 0;
    background-color: #f0f0f0;
    width: 100%;
    text-align: center;
    font-size:36px;
    opacity: 60%;
    height: 5%;
}*/

.bg-image {
  /*background-image: url("/static/images/DALLE生圖.jpg");*/
  /*background-image: url("/static/images/DALLE生圖1.jpg");*/
  /*background-image: url("bg.png");*/
  /*background-repeat: no-repeat;*/
  background-color: #0a0813;
  background-size: 100% 100%;
  /*padding:20px;*/
}

body *{
  font-family: 'Mulish', sans-serif, '微軟正黑體';
  text-align: left;
  /*text-align: center;*/
  font-weight:900;
}

#content{
  position: relative;
  /*display: flex;*/
  margin:0 auto;
  width: 100%;
  /*height: 100%;*/
  height: 95%;
}

/*#left-div{
  display: flex;
  width: 60%;
  height: 100%;
}
#right-div{
  display: flex;
  left: 60%;
  width: 40%;
  height: 100%;
}*/

#top-div{
  /*height: 20%;*/
  height: 11%;
  /*padding: 3% 3% 3% 1%;*/
  display: flex;
  /*justify-content: center;*/
}

#usage_div{
  position: relative;
  top: 25%;
  width: 8%;
  height: 32px;
  left: 28%;
  font-size: 20px;
  border-radius: 5px; /* 圓角半徑 */
  box-shadow: 0 0 0 2px #D9D9D9, 0 0 0 4px #3498db, 0 0 0 6px #2ecc71; /* 使用內部陰影模擬漸層邊框 */
  background-color: #D9D9D9;
  margin: 0 10px 0 10px;
  /*display: flex;*/
  text-align: center;
}

#input_box_outer_div{
  position: absolute;
  width: 80%;
  top: 10%;
  /*left: 20%;*/
  left: 2.5%;
  height: 8%;
  display: flex;
}

#input_box_div{
  position: relative;
  /*top: 10%;*/
  width: 60%;
  /*height: 40px;*/
  height: 32px;
  /*left: 20%;*/
  font-size: 20px;
  border-radius: 5px; /* 圓角半徑 */
  box-shadow: 0 0 0 2px #D9D9D9, 0 0 0 4px #3498db, 0 0 0 6px #2ecc71; /* 使用內部陰影模擬漸層邊框 */
  background-color: #D9D9D9;
  margin: 0 10px 0 10px;
  /*display: flex;*/
}
#and, #or, #exclude{
  position: relative;
  height: 32px;
  font-size: 20px;
  border-radius: 5px; /* 圓角半徑 */
  box-shadow: 0 0 0 3px #D9D9D9, 0 0 0 6px #3498db; /* 使用內部陰影模擬漸層邊框 */
  background-color: #D9D9D9;
  margin: 0 10px 0 10px;
}
#item1, #item2, #item3, #item4{
  position: relative;
  height: 32px;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: 0 0 0 3px #D9D9D9, 0 0 0 6px #2ecc71;
  background-color: #D9D9D9;
  margin: 0 10px 0 10px;
}

#input_box_outer_div2{
  position: absolute;
  width: 80%;
  top: 18%;
  /*left: 20%;*/
  left: 2.5%;
  height: 8%;
  display: flex;
}

/*#item1, #item2, #item3, #item4, #item5, #item6, #item7, #item8, #item9, #item10, #item11, #item12, #item13, #item14, #item15, #item16, #item17, #item18, #item19, #item20{*/
#item5, #item6, #item7, #item8, #item9, #item10, #item11, #item12, #item13, #item14, #item15, #item16, #item17, #item18, #item19, #item20{
  position: relative;
  height: 32px;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: 0 0 0 3px #D9D9D9, 0 0 0 6px #2ecc71;
  background-color: #D9D9D9;
  margin: 0 10px 0 10px;
}

#input_box{
  /*width: 65%;*/
  width: 75%;
  height: 80%;
  background: rgba(0,0,0,0);
  border-radius: 5px;
}
#news_num_select{
  width: 16%;
  height: 95%;
  float: right;
  border-radius: 5px;
  background-color: #D9D9D9;
}

/*#buttons-div{
  height: 8%;
  padding: 0.2%;
  clear:both;
  padding: 1%;
  text-align: center;
}*/

#bottom-div{
  height:82%;
  padding: 1%;
}

#bottom-buttons-div{
  height: 5%;
  padding: 0.2%;
  clear:both;
  /*padding: 1%;*/
  text-align: center;
}

/*#news_box{
  width: 100%;
  border-collapse: collapse;
}*/
#news_box td {
  border: 1px solid #000; /* 單元格邊框 */
  padding: 10px; /* 單元格內邊距 */
}
.news_select{
  text-align: center;
}
.checkbox-cell {
  width: 10%;
  text-align: center;
}
.new_titlelink {
  width: 90%;
}

.fas.fa-search {
  /*display: inline-block;*/
  /*vertical-align: middle;*/
  font-size: 20px;
  color: #6E7EFF;
}
.cross{
  /*display: inline-block;
  vertical-align: middle;*/
  font-size: 20px;
  color: red;
}

th, td {
  border: 1px solid black;
  padding: 2px;
  text-align: left;
  /*text-align: center;*/
}
th {
  background-color: #D9D9D9;
}
/*.vertical-cell {
  writing-mode: vertical-rl;
  width: 25px;
}*/
/*.checkbox-cell {
  width: 15px;
}*/
.title{
  text-align: center;
}

#buttons-block{
  text-align: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#textarea{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px;
  padding: 5px;
}

#output_box{
  position: absolute;
  left: 3%;
  top: 28%;
  border:2px solid #000000;
  padding: 4px;
  font-size:20px;
  text-align: left;
  width: 65%;
  height: 70%;
  background-size: 100% 100%;
  background-color: #D9D9D9;
  overflow: auto;
  border-radius: 5px; /* 圓角半徑 */
  box-shadow: 0 0 0 4px #D9D9D9, 0 0 0 7px #3498db, 0 0 0 10px #2ecc71; /* 使用內部陰影模擬漸層邊框 */
  background-color: #D9D9D9;
  display: flex;
}
#output_box_text{
  position: absolute;
  display: flex;
}
#output_box_right_div{
  position: absolute;
  left: 72%;
  top: 28%;
  padding: 4px;
  text-align: left;
  width: 25%;
  height: 65%;
  display: flex;
}
#output_box_right{
  position: absolute;
  border:2px solid #000000;
  padding: 4px;
  font-size:20px;
  text-align: left;
  width: 100%;
  height: 36%;
  background-size: 100% 100%;
  background-color: #D9D9D9;
  overflow: auto;
  border-radius: 5px; /* 圓角半徑 */
  box-shadow: 0 0 0 4px #D9D9D9, 0 0 0 7px #3498db, 0 0 0 10px #2ecc71; /* 使用內部陰影模擬漸層邊框 */
  background-color: #D9D9D9;
  display: flex;
}
#output_box_right_button{
  position: absolute;
  text-align: center;
  display: flex;
  /*top: 42%;*/
  top: 50%;
  width: 100%;
}
#example1, #example2, #example3, #example4{
  margin: 1%;
  width: 25%;
  text-align: center;
}
#clipboard-button{
  position: absolute;
  text-align: center;
  justify-content: center;
  display: flex;
  top: 70%;
  left: 50%;
  width: 60%;
  transform: translateX(-50%);
  color: white;
  background: midnightblue;
}
#linebot-button{
  position: absolute;
  text-align: center;
  justify-content: center;
  display: flex;
  top: 85%;
  left: 50%;
  width: 50%;
  transform: translateX(-50%);
  color: white;
  background: midnightblue;
}

button{
  /*padding:8px 16px;*/
  border: 0;
  font-size: 24px;
  border-radius: 5px;
  /*margin:0 5px;*/
  background-color: #D9D9D9;
}

button:hover{
  background-color: #9480FF;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

#clean-button{
  float: right;
  background: rgba(0,0,0,0);
}
#search-button{
  float: right;
  background: rgba(0,0,0,0);
}
